body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: inline-block;
    width: 100%;
}
    .container > .row {
        display: inline-block;
        width: 1200px;
        margin: 0 calc(50% - 600px);
    }
    @media ( max-width: 1300px ) {
        .container > .row {
            width: 900px;
            margin: 0 calc(50% - 450px);
        }
    }
    @media ( max-width: 1000px ) {
        .container > .row {
            width: 760px;
            margin: 0 calc(50% - 380px);
        }
    }
    @media ( max-width: 860px ) {
        .container > .row {
            width: 480px;
            margin: 0 calc(50% - 240px);
        }
    }
    @media ( max-width: 580px ) {
        .container > .row {
            width: 100%;
            margin: 0;
        }
    }

.bg-grey {
    background-color: #F8F9FE;
}
.bg-blue {
    background-color: #38468D;
}
.bg-black {
    background-color: #313237;
}

/* HEADER + HERO */


/* Who is this for? */


/* How does it work */
.top {
display: inline-block;
width: 100%;
text-align: center;
font-size: 42px;

}

.container > #my-row {
display: inline-block;
background-color: #F8F9FE;
}

.container > #my-row > .column {
display: inline-block;
width: 25%;
float: left;
}

.container > #my-row > .column > h1 {
    text-align: center;
    margin: 20px 0;
}

.container > #my-row > .column > p {
    text-align: center;
    height: 30px;
    margin: 20px 0;
}

.container > #my-row > .column > img {
    margin: 20px 0;
}
/* text + photo */


/* footer */