body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

.container {
    display: inline-block;
    width: 100%;
}
    .container > .row {
        display: inline-block;
        width: 1200px;
        margin: 0 calc(50% - 600px);
    }

/* HEADER + HERO */


/* Who is this for? */


/* How does it work */


/* text + photo */


/* footer */
.footer{
    background-color:#313237;
    color:#FFFFFF;
    text-align: center;
    display: inline-block;
    width: 100%;
}
h1{
    margin-top: 30px;
}
.company{
    display: inline-flex;
    margin: 40px 8px;
    
   
}
        .companies{
            line-height: 30px;
            font-size: 16px;
            
        }

        .logos{
            width: 30px;
            height: 30px;
        }