:root {
    --text-black: #010A13;
    --text-blue: #1E2B58;
    --text-green: #2CC14B;
    --text-grey: #78909C;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: inline-block;
    width: 100%;
}
    .container > .row {
        display: inline-block;
        width: 1200px;
        margin: 0 calc(50% - 600px);
    }
    @media ( max-width: 1300px ) {
        .container > .row {
            width: 900px;
            margin: 0 calc(50% - 450px);
        }
    }
    @media ( max-width: 1000px ) {
        .container > .row {
            width: 760px;
            margin: 0 calc(50% - 380px);
        }
    }
    @media ( max-width: 860px ) {
        .container > .row {
            width: 480px;
            margin: 0 calc(50% - 240px);
        }
    }
    @media ( max-width: 580px ) {
        .container > .row {
            width: 100%;
            margin: 0;
        }
    }

.bg-grey {
    background-color: #F8F9FE;
}
.bg-blue {
    background-color: #38468D;
}
.bg-black {
    background-color: #313237;
}

/* HEADER + HERO */


/* Who is this for? */


/* How does it work */
.top {
display: inline-block;
width: 100%;
text-align: center;
font-size: 42px;

}

.container > #my-row {
display: inline-block;
background-color: #F8F9FE;
}

.container > #my-row > .column {
display: inline-block;
width: 220px;
text-align: center;
}

.container > #my-row > .column > h1 {
    text-align: center;
    margin: 20px 0;
}

.container > #my-row > .column > p {
    text-align: center;
    height: 30px;
    margin: 20px 0;
}

.container > #my-row > .column > img {
    margin: 20px 0;
}
/* text + photo */
#text_photo > .row {
    padding: 80px 0;
}
#text_photo .texts {
    display: inline-block;
    width: 45%;
    float: left;
}
    #text_photo .texts > .header {
        display: inline-block;
        width: 100%;
        margin-bottom: 40px;
    }
        #text_photo .texts > .header > .number {
            display: inline-block;
            width: 40px;
            float: left;
            color: var(--text-blue);
            font-size: 48px;
            line-height: 50px;
        }
        #text_photo .texts > .header > .title {
            display: inline-block;
            width: calc(100% - 40px);
            float: left;
            text-transform: uppercase;
            color: var(--text-green);
            font-size: 16px;
            line-height: 18px;
            margin-top: 7px;
        }
        #text_photo .texts > .header > .sub-title {
            display: inline-block;
            width: calc(100% - 40px);
            float: left;
            font-size: 16px;
            line-height: 18px;
            color: var(--text-blue);
        }
    #text_photo .texts > p {
        display: inline-block;
        width: 100%;
        font-size: 14px;
        line-height: 18px;
        color: var(--text-grey);
    }

#text_photo .images {
    display: inline-block;
    width: 45%;
    float: left;
    position: relative;
}
    #text_photo .images > .gradient {
        position: absolute;
    }
    #text_photo .images > img {
        display: inline-block;
        width: 80%;
        float: right;
    }
    #text_photo .images > .icon {
        position: absolute;
    }

/* footer */
.footer{
    
    color:#FFFFFF;
    text-align: center;
    display: inline-block;
    width: 100%;
}
h1{
    margin-top: 70px;
}
.company{
    display: inline-flex;
    margin: 40px 25px;
    
   
}
    .companies{
        line-height: 15px;
        font-size: 16px;
        
    }

    .logos{
        width: 30px;
        height: 30px;
    }
